.ContainerLogIn {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0%;
  padding: 0%;

}

.inputLogIn {
  outline-color: #ff8e0a;
  border: 2px solid #E4E6E8;
  border-radius: 0px 16px;
  box-sizing: border-box;
  width: 320px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.arrowLogIn {
  position: absolute;
  left: 5%;
  cursor: pointer;
}

.headerLogIn {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  font-size: 20px;
}

:hover.buttonLogIn {
  color: white;
  background-color: #ff8e0a;
}

.buttonLogIn {
  width: 320px;
  height: 48px;
  left: 22px;
  top: 416px;
  background: #e4e6e8;
  border-radius: 0px 16px;
  border: none;
}

.buttonSectionLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 12px;
}

.titleSectionLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formSectionLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 20px;
  gap: 0.6rem;
}

.passwordSectionLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.olvidasteTuContraseña {
  color: #26262E;
  font-size: 16px;
}