#container {
    position: relative;
    width: 418px;
    height: 844px;
    background: #fdfeff;
}

#header-contextual {
    position: absolute;
    top: 35px;
    left: 35px;
}

#contextual-title {
    margin-left: 5rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #26262E;
}

#back-contextual {
    position: absolute;
    top: 0.2rem;
}

#label-actividad,
#label-estado,
#label-clima {
    position: absolute;
    left: 6rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #26262E;
}

#label-actividad {
    top: 6rem;
}

#label-estado {
    top: 13.3rem;
}

#label-clima {
    top: 20rem;
}

#actividad,
#estado,
#clima {
    position: absolute;
    width: 300px;
    left: 2.2rem;
    width: 320px;
    height: 48px;
    background: #fdfeff;
    border: 2px solid #26262e;
    border-radius: 0px 16px;
}

#actividad {
    top: 8.5rem;
}

#estado {
    top: 15.5rem;
}

#clima {
    top: 22.5rem;
}

select option:disabled {
    color: gray;
}

select option:not(:disabled) {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #26262E;

}

#crear-btn {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 35px;
    top: 720px;
    background: #e4e6e8;
    border-radius: 0px 16px;
}

#contenedorGeneros {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    width: 373px;
    height: 180px;
    top: 475px;
}

.generos {
    margin-left: 30px;
}

#titulo-selectGeneros {
    position: absolute;
    bottom: 180px;
    right: 2px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    width: 320px;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #26262e;
}


.genero-btn {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #26262E;
}

.seleccionado {
    background-color: black;
    color: white;
}

#contenedorModal {
    width: 300px;
    margin-top: 70px;
    margin-left: 5px;
    /* margin: 10px; */
    height: fit-content;
    border-radius: 100%;
}

#tituloModal {
    text-align: center;
    font-size: 23px;
}

#fotoModal {
    margin-left: 8px;
}

#contenidoModal {
    text-align: center;
    margin: 40px 18px;

}

#botonEntendido {
    width: 250px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.901);
    color: white;
}

#mensajeModal {
    text-align: center;
    cursor: pointer;
}

#container.blur {
    filter: blur(4px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Color de fondo oscuro con transparencia */
    z-index: 9999;
    /* Asegura que la capa de superposición esté por encima de otros elementos */
}