.contenedorPlayList {
  width: 418px;
  height: 500px;
}
.headerPlayList {
  position: absolute;
  width: 320px;
  height: 40px;
  left: 24px;
  top: 24px;
}
#back-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 8px;
}
#titulo-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 272px;
  height: 40px;
  left: 24px;
  top: 0px;
}
#titulo-opciones {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 296px;
  top: 8px;
}
.albumPlaylistSection {
  position: absolute;
  width: 224px;
  height: 224px;
  left: 72px;
  top: 88px;

}
#logos-duracion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 316px;
  height: 24px;
  left: 24px;
  top: 336px;
}
#timeList {
  display: flex;
  position: absolute;
  left: 270px;
  gap: 0.5rem;
}
#icons-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 320px;
  height: 48px;
  left: 30px;
  top: 384px;
}
#play-shuffle {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 248px;
}
.songsPlaylistSection {
  position: absolute;
  width: 368px;
  height: 150px;
  left: 30px;
  top: 450px;
}
.playlistSongsIcons {
  width: 48px;
  height: 48px;
}
.listSongsPlaylist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 320px;
  height: 320px;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
}

.listSongsPlaylist li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#nombre-cancion{
    position: absolute;
    left: 3.5rem;
margin-top: -6%;
}
#artista-cancion{
    position: absolute;
    left: 4rem;
}
#detalles-cancion{
    position: absolute;
    left: 18rem;
}
#imagenes-playlist{
  width: 112px;
  height: 112px;
  border-radius: 0px 0px 0px 32.9412px;
}