#containerProfile {
  position: relative;
  width: 418px;
  height: 844px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  background: #fdfeff;
}
#top-gradient {
  position: absolute;
  top: 0;
  height: 160px;
  width: 418px;
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 142, 10, 0.534586) 75%,
    rgba(255, 142, 10, 0.9) 100%
  );
  opacity: 0.25;
  transform: rotate(-180deg);
}
#img-container {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 108px;
  top: 30px;
  filter: drop-shadow(0px 0px 8px rgba(8, 8, 17, 0.08))
    drop-shadow(4px 2px 12px rgba(8, 8, 17, 0.08));
  border-radius: 92px;
}
#config-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 320px;
  top: 56px;
  background: #fdfeff;
  border-radius: 24px;
}
#name-user {
  position: absolute;
  width: 320px;
  height: 36px;
  left: 24px;
  top: 200px;
  text-align: center;
}
#name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #26262e;
}
#user {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #26262e;
}
#titleAndBtn {
  display: flex;
  position: absolute;
  left: 35px;
  top: 280px;
  gap: 12px;
}
#mis-playlist {
  width: 101px;
  height: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #26262e;
}
#line {
  margin-top: 10px;
  width: 87px;
  height: 0px;
  border: 2px solid #e4e6e8;
}
#crear-playlist {
  width: 100px;
  height: 26px;
  background: #ff8e0a;
  border-radius: 0px 8px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fdfeff;
}

.playlist-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 335px;
  height: 370px;
  left: 35px;
  top: 330px;
  overflow-y: scroll;
}
.playlist-section img {
  width: 152px;
  height: 152px;
  filter: drop-shadow(0px 0px 8px rgba(8, 8, 17, 0.08))
    drop-shadow(4px 2px 12px rgba(8, 8, 17, 0.08));
  border-radius: 0px 40px;
}
