.containerSignIn2 {
    margin: 0%;
    padding: 0%;
    position: relative;
    overflow: hidden;
}


.titleSectionSignIn {
    margin-top: 3rem;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSectionSignIn {
    margin-top: 3rem;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.buttonSectionSignIn {

    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBoxSignIn {
    margin-top: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FF8E0A;
}

.checkBoxDivSection {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.checkSignIn {
    border: 3px solid #BFC0C1;
    border-radius: 0px 8px;
    text-decoration: none;
}

.buttonSectionSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    outline-color: #FF8E0A;
    border-radius: 0px 16px;
    box-sizing: border-box;
    width: 320px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.arrowSignIn {
    position: absolute;
    left: 5%;
    cursor: pointer;
    padding-top: 3rem;
}

.header {
    gap: 100px;
}

.emailSection {
    font-size: 20px;
}

.nameSectionSignIn {
    font-size: 20px;
}

.passwordSectionSignIn {
    font-size: 20px;
}

.passVerification {
    color: #838486;
    font-size: 12px;
    padding-top: 10px;
}

.buttonSignin {
    width: 320px;
    height: 48px;
    border-radius: 0px 16px;
    cursor: pointer;
    margin-top: 3rem;
}

.errorTextSingIn {
    color: #EA0F0F;
    font-size: 12px;
}