#contenedorInput {
    margin: 20px 10px 5px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

label {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    z-index: 10;
}

select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    border: 2px solid #26262e;
    border-radius: 0px 16px;
    width: 300px;
    margin-left: 25px;
    z-index: 10;
    overflow-y: scroll;
    color: grey;
}

#vector {
    height: 15px;
    margin-left: 282px;
    margin-top: -25px;
    z-index: 10;
}