#container {
    position: relative;
    width: 368px;
    height: 792px;
    background: #fdfeff;
}

#top-gradient {
    position: absolute;
    height: 160px;
    width: 418px;
    background: linear-gradient(180deg,
            rgba(253, 254, 255, 0) 25%,
            rgba(255, 142, 10, 0.534586) 75%,
            rgba(255, 142, 10, 0.9) 100%);
    opacity: 0.25;
    transform: rotate(-180deg);
    z-index: 0;
}

.arrowMC {
    position: absolute;
    left: 5%;
    top: 60%;
    cursor: pointer;
    height: 40%;
}

#headerMC {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
}

#contenedorInput {
    margin: 20px 10px 5px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

label {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;

}

#select-box {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    border: 2px solid #26262e;
    border-radius: 0px 16px;
}

.generos {
    margin-left: 30px;
}

.genero {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    /* justify-content: space-around; */
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
}

#contenedorGeneros {
    margin: 0 auto;
    margin-bottom: 5px;
}

#tituloGeneros {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 35px;
}

.crearPlaylist {
    margin-top: 35px;
    margin-left: 30px;
    border-color: rgb(218, 218, 218);
    background-color: rgb(218, 218, 218);
    color: white;
}

.selected {
    background-color: black;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    /* justify-content: space-around; */
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
}

.selected2 {
    margin: 10px 25px;
    background-color: orange;
    color: white;
}

select option {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
}

.genero1 {
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
}

.electronica1 {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    /* justify-content: space-around; */
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
}

.electronica2 {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    /* justify-content: space-around; */
    margin: 8px;
    font-size: 12px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.crearPlaylistEnabled {
    background-color: orange;
    color: white;
    border-color: white;
    margin-top: 35px;
    margin-left: 30px;
}